<p>All local Kudomon are listed below!</p>
<ul>
<p> You are at location: <%= @trainer_location %></p>

<% @local_kudomon = @kudomon.select { |kudomon| kudomon.location == @trainer_location.to_i } %>
<% if @local_kudomon.count > 0 %>
<% @local_kudomon.each do |kudomon| %>
      Species: <%= kudomon.species %><br>
      Type: <%= kudomon.of_type %><br>
      Location: <%= kudomon.location %><br>
      <%= link_to "Capture #{kudomon.species}!", kudomon_capture_path(kudomon.id)%>
      <br>
  <% end %>
  <% else %>
  <p>Bad times... there are no Kudomon at this location</p>
<% end %>
